@model Movie

@{
    <p>@Model.Title has been registered.</p>
    <br />
    <p>Selected Category: @Model.Category</p>
    <br />
    <p>Year: @Model.Year.Year</p>
    <br />
    <p>Actors: @Model.Actors</p>
    <br />
    <p>Directors: @Model.Directors</p>
    <br />
    <p>ID: @Model.ID</p>
    <br />
}